@import "tailwindcss";


@theme{
    --color-background: #ffffff;
    --color-background-dark: #212121;
    --color-accent: #A23032;
    --color-black: #000000;
    --color-gray: #D9D9D9;

    --radius-12: 12px;

    --spacing-22: 22px;
    --spacing-20: 20px;
}
